.title {
    background-color: tomato;
    width: 350px; margin: 50px auto 0;
    /* flex속성은 정렬하고자하는 대상의 부모에게 명령시작 */
    display: flex;
    /* flex 기본값은 메인축(수평)정렬임 */
    /* 메인축 정렬속성 */
    justify-content: space-between;
    padding: 0 10px;
    /* 교차축 정렬 속성(1줄일때) */
    align-items: center;
}
.title h1 {font-size: 1.2rem;}
.title .more{font-size: 0.75rem; }
.contents {
    background-color: gold;
    width: 350px; height: calc(50px * 3);
    margin: 0 auto;
    display: flex;
    flex-flow: column wrap; /* 줄바꿈+배열 속성: 메인축, 배열 */
/*     flex-wrap: wrap; 줄바꿈 - 부모에 수치 정해져있는지 확인
    flex-direction: column; 배열 */
    align-content: space-between;
    justify-content:flex-end;
    /* flex 전용여백(item 사이만 적용) */
    /* gap: 10px; */
}
.contents li {width: calc((100% - 15px) / 4); height: 50px;}
.contents li:nth-child {}
.contents li:nth-child(odd) {background-color: antiquewhite;}
.contents li:nth-child(even) {background-color: darksalmon;}