#new_wrap {
    background-color: tomato;
    width: 1200px; margin: 0 auto;
}
#new_wrap > h1 {
    width: 860px; margin: 0 auto;
}
#new_wrap #new_slide_wrap {
    background-color: blanchedalmond;
    width: 860px; margin: 0 auto;
    overflow: hidden;
    /* absolute 부모 기준 설정 */
    position: relative;
}
#new_wrap #new_slide_wrap .new_slide {
    background-color: tan;
    /* float 적용 전, 자식 높이를 인식해서 자동으로 따라오는 부모 */
    /* float 적용 후 부유한 자식 요소들로 인해 높이 인식 불가 부모 */
    /* 위 문제 해결법 -> 부모에게 넘친(over) 자식 요소들 재인식시키기 :: overflow
     + 슬라이드 자식들에게 너비값 입력되었는지 확인하기 */
    overflow: hidden;
    /* 자식 요소의 전체 너비 설정 */
    /* width: max-content; */
    width: calc(860px * 4); /* calc 계산기함수 사용, 연산자 각 항목 사이에 공백 필수!!! */
}
#new_wrap #new_slide_wrap .new_slide .slide {
    width: 860px; height: 450px;
    /* 실제 크기가 필요한 주요 요소(자식)한테 높이를 주면 그 부모 요소들은 자동으로 자식과 크기가 같아진다. */
    background-color: brown;
    border: 2px solid red;
    float: left;
}
#new_wrap #new_slide_wrap .new_slide .slide h1 {}
#new_wrap #new_slide_wrap .new_slide .slide a {}
#new_wrap #new_slide_wrap .new_slide .slide1 {}
#new_wrap #new_slide_wrap .new_slide .slide2 {}
#new_wrap #new_slide_wrap .new_slide .slide3 {}
#new_wrap #new_slide_wrap .new_slide .slide4 {}
#new_wrap #new_slide_wrap .prev {
    background-color: cyan;
    /* position : 위치 이동 (버튼 등) */
    /* relative : 현재 위치 기준 -> 현재 위치 파악이 된 상태 // 이후 방향+px값 입력하면 """원점""" 기준 위치에서 이동 */
    /* position: relative; left: 50px; top: -50px; */
    position: absolute; left: 0px; top: 40%;
    /* absolute : 부모 위치 기준 이동 (기본부모 :: body)*/
    /* 기준 부모 설정 -> 부모 position 설정 -> 부모한테 가서 position: relative 사용*/
}
#new_wrap #new_slide_wrap .next {
    background-color: aquamarine;
    position: absolute; top: 40%; right: 0px;
}
#new_wrap #new_slide_wrap .page {
    background-color: chocolate;
    position: absolute; right: 35px; bottom: 35px;
}
#new_wrap #new_slide_wrap .page .current {}
#new_wrap #new_slide_wrap .page .all {}
/* 영풍문고 독자들의 선택 ------------------------------------------------ */
#book_select {
    background-color: blue;
    width: 1084px; margin: 0 auto;
}
#book_select h1 {
    color: #fff;
}
#book_select #book_slide_wrap {
    background-color: aquamarine;
    margin: 0 auto;
    position: relative;
}
#book_select #book_slide_wrap .slide_wrap{
    background-color: cornflowerblue;
    width: calc(340px * 3); /* 3 대지 크기 정하기 */
    margin: 0 auto;
    overflow: hidden; /* 4 간추리기 */
}
#book_select #book_slide_wrap .slide_wrap .slides {
    width: max-content;
}
#book_select #book_slide_wrap .slide_wrap .slides .slide {
    width: 340px; height: 472px; /* 1 개체 크기 정하기 */
    float: left;
    display: block; /* 2 속성 정하기 */
}
#book_select #book_slide_wrap .slide_wrap .slides .slide .thumnaill::after {
    content: '';
    display: block; width: 100%; height: 63%;
    background-color: rgba(0,0,0,0.2);
    position: absolute; left: 0; top: 0;
    z-index:40;
}
#book_select #book_slide_wrap .slide_wrap .slides .slide .thumnaill {
    height: 324px;
}
#book_select #book_slide_wrap .slide_wrap .slides .slide1 > .thumnaill{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRwKptQqBPgdkudRij8B5HUkdH5ZUuZ0VNOiA&s);
    background-size: cover;
    background-position: center;
    position: relative;
}
#book_select #book_slide_wrap .slide_wrap .slides .slide2 > .thumnaill{
    background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20221228/pngtree-beautiful-romantic-fresh-illustration-mobile-phone-wallpaper-background-image_1500796.jpg);
}
#book_select #book_slide_wrap .slide_wrap .slides .slide3 > .thumnaill{
    background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20211103/pngtree-japanese-cartoon-pink-purple-cloud-light-effect-mobile-phone-wallpaper-background-image_912744.png);
}
#book_select #book_slide_wrap .slide_wrap .slides .slide4 > .thumnaill{}
#book_select #book_slide_wrap .slide_wrap .slides .slide .thumnaill p {
    padding: 20px;
    color: #fff;
    line-height: 130%;
    z-index:50; position: relative;
}
#book_select #book_slide_wrap .slide_wrap .slides .slide .book_info {
    height: 148px;
}
#book_select #book_slide_wrap .slide_wrap .slides .slide .book_info .cover {
    float:left;
}
#book_select #book_slide_wrap .slide_wrap .slides .slide .book_info .cover img {
    padding:20px;
    width: 100px;
}
#book_select #book_slide_wrap .slide_wrap .slides .slide .book_info dl {
    float:left;
    padding-top: 20px;
    position: relative;
}
#book_select #book_slide_wrap .slide_wrap .slides .slide .book_info dl::after {
    content: '';
    display: block; width: 100%; height: 100%;
    background-color: rgba(255,255,255,0.3);
    position: absolute;
    left: 0; top: 0;
    z-index:40; /* 형제관계 중첩순서 결정
                -> 다른 형제한테도 포지션 주고 z-index 주기, 형제보다 낮거나 높은 값 설정 */
}
#book_select #book_slide_wrap .slide_wrap .slides .slide .book_info dl > * {
    margin-bottom: 8px;
    position: relative;
    z-index:90;
}
#book_select #book_slide_wrap .slide_wrap .slides .slide .book_info dl dt {
    font-weight: 600;
}
#book_select #book_slide_wrap .slide_wrap .slides .slide .book_info dl dd {}
#book_select #book_slide_wrap .slide_wrap .slides .slide .book_info dl dd img {}
#book_select #book_slide_wrap .slide_wrap .slides .slide .book_info dl dd .score {
    font-weight: 200;
}
#book_select #book_slide_wrap .slide_wrap .slides .slide .book_info dl .review {
    font-size: 0.75rem;
    font-weight: 200;
}
#book_select #book_slide_wrap .slide_wrap .slides .slide1 {
    background-color: brown;
}
#book_select #book_slide_wrap .slide_wrap .slides .slide2 {
    background-color: darkseagreen;
}
#book_select #book_slide_wrap .slide_wrap .slides .slide3 {
    background-color: coral;
}
#book_select #book_slide_wrap .slide_wrap .slides .slide4 {
    background-color: blueviolet;
}
#book_select #book_slide_wrap #bk_selc_prev,
#book_select #book_slide_wrap #bk_selc_next {
    position: absolute; top: 40%;
}
#book_select #book_slide_wrap #bk_selc_prev {left: 0%;}
#book_select #book_slide_wrap #bk_selc_next {right: 0%;}
#book_select #book_slide_wrap .pagenation {
    background-color: chartreuse;
    width: 1084px;
    text-align: center; padding: 10px 0;
}
#book_select #book_slide_wrap .pagenation a {
    width: 8px; height: 8px; display: inline-block;
    background-color: #aaa;
    border-radius: 50%;
}
#book_select #book_slide_wrap .pagenation .active {
    width: 14px; height: 14px;
}
/* 영풍문고 오늘의 책 ------------------------------------------------ */
#today_book {
    background-color: aqua;
    margin: 0 auto;
    width: 1084px;
}
#today_book .title {
    padding: 20px;
}
#today_book .title h1 {
    float: left;
}
#today_book .title .more_btn {
    float: right;
}
#today_book .title .contents {
    background-color: blanchedalmond;
    overflow: hidden;
    margin-top: 30px;
    width: max-content;

}

#today_book .title .contents li {
    float: left;
    width: 193px;
    margin-right: 10px;
}
#today_book .title .contents li:nth-child(5) {margin-right: 0;}
#today_book .title .contents li:nth-child(even) {
    background-color: aquamarine;
}
#today_book .title .contents li:nth-child(odd) {
    background-color: cadetblue;
}
#today_book .title .contents li .thumnaill {
    position: relative;
    z-index:20
}

#today_book .title .contents li .thumnaill img {
    width: 193px;
}
#today_book .title .contents li .thumnaill .popup {
    position: absolute;
    top: 0; left: 0;
    width: 193px; height: 100%;
    background-color: rgba(0,0,0,0.5);
    padding: 20px;
}
#today_book .title .contents li .thumnaill .popup > a {
    color: #fff;
    line-height: 130%;
}
#today_book .title .contents li .thumnaill .popup .v_c {
    text-align: center;
    position: absolute;
    color: #fff;
    bottom: 20px;
    z-index: 30
}
#today_book .title .contents li .thumnaill .popup .v_c a {
    color: #fff;
    border: 1px solid #fff; 
    border-radius: 10px;
    padding: 5px 7px;
}
#today_book .title .contents li .thumnaill .popup .v_c a:nth-child(1) {}
#today_book .title .contents li .thumnaill .popup .v_c a:nth-child(2) {}
#today_book .title .contents li h2 {}
#today_book .title .contents li h2 a {}
#today_book .title .contents li .author {}