#wrap {padding-top: 50px;}
#wrap #uplus {
    background-color: azure;
    width: 1100px;
    margin: 0 auto;
}
#wrap #uplus thead {
    border: 3px solid #009baf;
    border-left: 0;
    border-right: 0;
}
#wrap #uplus thead tr {}
#wrap #uplus thead tr th {
    padding: 15px;
    border-top: 1px dashed #bdeaf0;
}
#wrap #uplus thead tr th span {
    display: block;
    color: cadetblue;
    font-size: 0.75rem;
    padding: 5px;
}
#wrap #uplus tbody tr {
        border-bottom: 1px dashed #bdeaf0;
}
#wrap #uplus tbody tr th {
    padding: 15px;
    text-align: center;
}
#wrap #uplus tbody tr td {
    width: 200px;
    text-align: center;
}
#wrap #uplus tfoot {}
#wrap #uplus tfoot tr {}
#wrap #uplus tfoot tr th {padding: 15px;
}
#wrap #uplus tfoot tr td {}